<center>
	<br/><br/>
	<h1>@SunnyConf Speaker Timer</h1>
	<br/><br/><br/>
	<form action="/go">
		How many minutes? 
		<input "text" name="minutes">
		<input type="submit" value="Go!">
	</form>
</center>